body, header, section, summary, div, footer, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, img, article, aside, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main-box-flex-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.btn-options-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

button {
    display: block;
    min-width: 5rem;
    width: 100%;
}
h1 {
    padding: 2rem;
}

h1, label, p, .results {
    text-align: center;
}

.results, p {
    padding: 0.5rem;
}

#resultDiv {
    font-weight: bold;
}

/* changes to desktop display behavior when go over 600px */
@media screen and (min-width: 600px) {
    .main-box-flex-container {
        width: 80vw;
        margin: 0 auto;
    }
    button {
        display: block;
        min-width: 5rem;
        width: 33.333%;
    }
    .btn-options-container {
    flex-direction: row;
    width: 100%;
}
}